@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fugaz+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
}