body {
  margin: 0;
  background: linear-gradient(to right,
      rgb(82, 2, 179) 50%,
      rgb(17, 6, 84) 100%);
}

.wrapper {
  width: 500px;
  margin: 30px auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 5px;
  background-color: rgb(34, 5, 71);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.todo-form {
  background: transparent;
  width: 20rem;
  margin-right: 2rem;
  padding: 8px 13px;
  color: white;
  border: 1px solid rgba(211, 210, 210, 0.521);
  border-radius: 2px;
}

.add-btn {
  background-color: rgb(82, 2, 179);
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
}

.todo-container ul {
  list-style: none;
  color: white;
  padding: 0;
}

.todo-container li {
  background: linear-gradient(to right,
      rgb(82, 2, 179) 50%,
      rgb(17, 6, 84) 100%);
  margin-bottom: 4px;
  padding-block: 1rem;
  font-weight: 700;
  border-radius: 5px;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.fa-solid {
  color: white;
  font-size: 1rem;
  text-align: end !important;
  cursor: pointer;
}